resized-image {
    width: 300px;
    height: auto;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 3;
    color: white;
    background-color: blue;
    padding: 20px;
}